//About page
<div>
    <h1><%= title %></h1>
    <p>This is the About US page.</p>
    <form action="/dashboard" method="get">
        <button type="submit">Go to Main Page</button>
    </form>
</div>
