<!--recipe Create page-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Add Food</h1>
      <a href="/recipeCreate">Create a Recipe Thats Not Found</a>
      <p>Fill out the form to add food into your Diet Tracker:</p>
      <form
        id="dietTrackerForm"
        autocomplete="off"
        action="/addDiet"
        method="post"
        enctype="multipart/form-data"
      >
        <ul id="ingredientList">
          <li>
            <div style="display: inline"></div>
            <select
              class="ingredient js-example-basic-single"
              name="ingredients[]"
            >
              <option selected value=""></option>
              <option value="addIngredient">Add New Ingredient</option>
              <% for(let i = 0; i < ingredients.length; i++){%>
              <option
                value="<%=ingredients.at(i)._id%>"
                data-unit="<%=ingredients.at(i).unit%>"
              >
                <%=ingredients.at(i).name%>
              </option>
              <%}%>
            </select>
          </li>
        </ul>
        <label for="breakfast">Breakfast</label>
        <input
          id="breakfast"
          type="checkbox"
          value="Breakfast"
          name="mealType[]"
        />
        <label for="lunch">Lunch</label>
        <input type="checkbox" id="lunch" value="Lunch" name="mealType[]" />
        <label for="dinner">Dinner</label>
        <input type="checkbox" id="dinner" value="Dinner" name="mealType[]" />
        <label for="snack">Snack</label>
        <input type="checkbox" id="snack" value="Snack" name="mealType[]" />
        <br />
        <select id="privacyLevel" name="privacyLevel">
          <option value="Public">Public</option>
          <option value="Private" selected>Private</option>
        </select>

        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
