<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lustria&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <%- include('navbar') %>
        <div class="outer-container">
            <h1>C&nbsp;O&nbsp;N&nbsp;T&nbsp;A&nbsp;C&nbsp;T</h1>
            <div class="inner-container">
                <div class="left-container">
                    <div class="wheat"></div>
                </div>
                <div class="right-container">
                    <form action="/contactSubmit" method="post">
                        <input type="text" class="line" placeholder="NAME" name="name" id="name" required><br>
                        <input type="email" class="line" placeholder="EMAIL" name="email" id="email" required>
                        <p>MESSAGE</p>
                        <br>
                        <br>
                        <input type="text" id="message" class="message" name="message" required></input>
                        <input type="submit" class="button" value="SUBMIT">
                    </form>
                </div>
            </div>
        </div>
</body>