
    <div class="center-container">
        <div class="container">
            <h1><%= title %></h1>
            <form action="/dashboard" method="get">
                <button type="submit">Go to Main Page</button>
            </form>
            <h1>Calories 0/2000</h1>
            <h2>Breakfast</h2>
            <form action="/recipes" method="get">
                <button type="submit">Add food</button>
            </form>
            <h2>Lunch</h2>
            <form action="/recipes" method="get">
                <button type="submit">Add food</button>
            </form>
            <h2>Dinner</h2>
            <form action="/recipes" method="get">
                <button type="submit">Add food</button>
            </form>
            <h2>Snacks</h2>
            <form action="/recipes" method="get">
                <button type="submit">Add Snacks</button>
            </form>
        </div>
    </div>
