<!-- main.ejs -->
<head>
  <link rel="stylesheet" href="login.css" />
</head>

<body>
  <h1 id="label">B o n A p p e t i t</h1>
  <img src="box.jpg" alt="pretty box" id="box" />
  <img src="acai.png" alt="acai bowl" id="bowl" />
  <div>
    <h1>LOGIN</h1>
    <a class="googleButton" href="/auth/google">
      <img
        height="20"
        src="https://www.svgrepo.com/show/475656/google-color.svg"
        loading="lazy"
        alt="google logo"
      />
      <span size="20">Login with Google</span>
    </a>
    <a class="registerButton" href="/auth/google">
      <img
        height="20"
        src="https://www.svgrepo.com/show/475656/google-color.svg"
        loading="lazy"
        alt="google logo"
      />
      <span size="20">Register</span>
    </a>
  </div>
</body>
