<!-- main.ejs -->
<link rel="stylesheet" type="text/css" href="login.css" />

<div>
  <h1>LOGIN</h1>
  <a class="googleButton" href="/auth/google">
    <img
      height="20"
      src="https://www.svgrepo.com/show/475656/google-color.svg"
      loading="lazy"
      alt="google logo"
    />
    <span size="20">Login with Google</span>
  </a>
  <a class="registerButton" href="/auth/google">
    <img
      height="20"
      src="https://www.svgrepo.com/show/475656/google-color.svg"
      loading="lazy"
      alt="google logo"
    />
    <span size="20">Register</span>
  </a>
</div>
