<!-- navbar.ejs -->
<link rel="stylesheet" type="text/css" href="navbar.css" />

<nav class="navbar">
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/recipeCreate">Create a Recipe</a></li>
        <li class="dropdown">
            <a href="/profile" class="dropbtn">

                Profile
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/myRecipesPage">My Recipes</a>
                <a href="/dietTracker">Diet Tracker</a>
                <a href="/mydietitian">My Dietitian</a>
                <a href="/logout">Logout</a>
            </div>
        </li>
    </ul>
</nav>