<!--recipe Create page-->
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create a new Recipe</title>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lustria&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="recipeCreate.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body>
  <%- include('navbar') %>
    <div class="container">

      <div class="right-container">

        <h1>Create Recipe</h1>
        <!-- <input type="text" placeholder="Recipe Name" name="recipeName" id="recipeName" /><br />

        <textarea id="description" name="description" placeholder="Recipe Description"></textarea><br /> -->

        <form id="ingredientForm" autocomplete="off" action="/addIngredient" method="post" style="display: none">

          <input type="text" placeholder="Ingredient Name" name="ingredientName" id="ingredientName" />

          <input type="text" list="ingredientUnitList" name="ingredientUnit" placeholder="Unit of Measurement"
            id="ingredientUnit" />

          <input type="number" name="caloriesPerUnit" placeholder="Calories Per Unit" id="ingredientCalories" />

          <datalist id="ingredientUnitList">
            <option value="cup"></option>
            <option value="oz"></option>
            <option value="fl oz"></option>
            <option value="fl oz"></option>
            <option value="tbsp"></option>
            <option value="tsp"></option>
            <option value="g"></option>
          </datalist>
          <button type="button" onclick="addIngredient()">Submit</button>
        </form>

        <form id="recipeForm" autocomplete="off" action="/recipeCreate" method="post" enctype="multipart/form-data">
          <label for="thumbnail" class="custom-file-upload">
            <i class="fa fa-upload"></i> Upload Image
          </label>

          <input type="file" id="thumbnail" name="thumbnail" style="display:none;" required accept="image/*" />
          <span id="file-name"></span>
          <input type="text" placeholder="Recipe Name" name="recipeName" id="recipeName" /><br />
          <textarea id="description" name="description" placeholder="Recipe Description"></textarea><br />


          <br />

          <ul id="tools">
            <!--<li>
          <input
            
            class="recipeTools"
            placeholder="Tools Required"
            name="recipeTools[]"
          />
        </li>-->
          </ul>
          <button type="button" id="addTool">Tool</button>

          <ul id="ingredientList">
            <li>
              <input class="ingredientAmount" placeholder="Amount" name="ingredientAmounts[]" />
              <div style="display: inline"></div>
              <select class="ingredient js-example-basic-single" name="ingredients[]">
                <option selected value=""></option>
                <option value="addIngredient">Ingredient</option>
                <% for(let i=0; i < ingredients.length; i++){%>
                  <option value="<%=ingredients.at(i)._id%>" data-unit="<%=ingredients.at(i).unit%>">
                    <%=ingredients.at(i).name%>
                  </option>
                  <%}%>
              </select>
            </li>
          </ul>
          <button type="button" id="addIngredient">Ingredients</button>

          <ol id="instructions">
            <li>
              <input name="instructions[]" placeholder="Instruction" />
            </li>
          </ol>
          <button type="button" id="addInstruction">Instruction</button>

          <ul id="recipeTags">
            <li>
              <input name="recipeTags[]" placeholder="Recipe Tag" />
            </li>
          </ul>
          <button type="button" id="addTag">Tag</button>

          <div class="meal-type-checkboxes">
            <label for="breakfast">Breakfast</label>
            <input id="breakfast" type="checkbox" value="Breakfast" name="mealType[]" />
            <label for="lunch">Lunch</label>
            <input id="lunch" type="checkbox" value="Lunch" name="mealType[]" />
            <label for="dinner">Dinner</label>
            <input id="dinner" type="checkbox" value="Dinner" name="mealType[]" />
            <label for="snack">Snack</label>
            <input id="snack" type="checkbox" value="Snack" name="mealType[]" />
          </div>
          <!-- <br /> -->
          <select id="privacyLevel" name="privacyLevel">
            <option value="Public">Public</option>
            <option value="Private" selected>Private</option>
          </select>

          <input type="submit" value="Submit" />
        </form>



      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
      //delete parent element
      function deleteParent(element) {
        element.parent().remove();
      }

      function addIngredient(ingredients) {
        var url = "/addIngredient";

        $.ajax({
          type: "POST",
          url: url,
          data: $("#ingredientForm").serialize(),
          success: function (data) {
            console.log(data);
            let ingredient = JSON.parse(data);
            console.log(ingredient);
            $("#ingredientForm").css("display", "none");
            let newIngredient = new Option(ingredient.name, ingredient._id, false, false);
            newIngredient.setAttribute('data-unit', ingredient.unit);
            let newSelectedIngredient = new Option(ingredient.name, ingredient._id, false, true);
            newSelectedIngredient.setAttribute('data-unit', ingredient.unit);
            $('#ingredientList li .js-example-basic-single').each(function () {
              if ($(this).select2('data').at(0).element.value == "addIngredient") {
                $(this).append(newSelectedIngredient).trigger('change');
                $(this).siblings("div").text(" " + $(this).select2().find(':selected').data("unit") + " ");
              }
              else {
                $(this).append(newIngredient).trigger('change');
              }
            });
          },
        });
        return false;
      }

      $(document).ready(function () {
        let ingredient = $("#ingredientList").children("li").children("select").eq(0).prop("outerHTML");

        $(".js-example-basic-single").select2();

        //Add a Tool Field
        $("#addTool").click(function () {
          $("#tools").append(
            $(
              '<li><input  class="recipeTools" placeholder="Tools Required" name="recipeTools[]"/><button type="button" onClick="deleteParent($(this))">-</button></li>'
            )
          );
        });

        //Add an Ingredient field
        $("#addIngredient").click(function () {
          let toAdd = '<li> <input class="ingredientAmount" placeholder="Amount" name="ingredientAmounts[]" /> <div style="display: inline"></div>' + ingredient + '<button type="button" onclick="deleteParent($(this))">-</button></li>'
          $("#ingredientList").append($(toAdd));
          $(".js-example-basic-single").select2();
        });
        //Change ingredient field
        $("body").on("change", ".ingredient", function () {
          if ($(this).find(":selected").data("unit") == undefined) {
            $(this).siblings("div").text("");
          } else {
            $(this).siblings("div").text(" " + $(this).select2().find(':selected').data("unit") + " ");
          }
          if ($(this).select2('data').at(0).element.value == "addIngredient") {
            $("#ingredientForm").css("display", "block");
          }
        });
        //Add an Instruction field
        $("#addInstruction").click(function () {
          $("#instructions").append(
            $(
              '<li> <input  name="instructions[]" placeholder="Instruction" /><button type="button" onClick="deleteParent($(this))">-</button></li>'
            )
          );
        });
        //Add a Tag field
        $("#addTag").click(function () {
          $("#recipeTags").append(
            $(
              '<li> <input  name="recipeTags[]" placeholder="Recipe Tag" /><button type="button" onClick="deleteParent($(this))">-</button></li>'
            )
          );
        });
      });
      document.getElementById('thumbnail').onchange = function () {
        // Check if any files were selected
        if (this.files && this.files.length > 0) {
          // Update the file-name span with the name of the file
          document.getElementById('file-name').innerText = this.files[0].name;
        } else {
          // Reset the text if no file is selected
          document.getElementById('file-name').innerText = '';
        }
      };
    </script>
</body>

</html>