<!-- mainComponent.ejs -->

<div>
  <h1>SNEAKY LOGIN</h1>
  <p>Welcome to the home page!</p>
  <form action="/dietTracker" method="get">
    <button type="submit">Go to Diet Tracker</button>
  </form>
  <form action="/recipeCreate" method="get">
    <button type="submit">Go to Recipe Create</button>
  </form>
  <form action="/contact" method="get">
    <button type="submit">Go to Contact Page</button>
  </form>
  <form action="/dietPlanCreate" method="get">
    <button type="submit">Go to Diet Plan Create</button>
  </form>