body{
  background-color: #f9f9f9;
  font-family: Lustria;
}
h1{
  text-align: center;
  font-size: 36px;
}
  .wheat-container{
    position: relative;
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding-top: 3%;
  }
  .left-wheat,.right-wheat,.middle1-wheat,.middle2-wheat, .middle3-wheat {
    flex: 1;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .left-image,.right-image,.middle1-image,.middle2-image, .middle3-image  {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: left; /* Center items horizontally */
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    height: 100px;
  }
  .left-image{
    transform: rotate(-10deg);
  }
  .middle1-image{
    transform: rotate(-10deg);
  }
  .middle2-image{
    transform: rotate(10deg);
  }
  .middle3-image{
    transform: rotate(-15deg);
  }
  .outer-container {
    position: relative;
    margin: 0 auto;
    background-color: #6C8347;
    max-height: 400px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .left-container {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Centers the image horizontally */
    /*background-color: blue;*/
  }
  .right-container{
    flex: 1;
    position: relative;
    align-items: center;
    padding-right: 5%;
    margin-top: 5%;
    /*background-color: purple;*/
  }
  .left-container img{
    position: absolute;
    width:20%;
    height:70%;
    padding-top: 5%;
    
  }