/* General Styles */
body {
    display: flex;
    flex-direction: column; /* Aligns children elements (h1, p) in a column */
    justify-content: center; /* Centers the content vertically */
    align-items: center; /* Centers the content horizontally */
    min-height: 100vh; /* Minimum height to take full viewport height */
    margin: 0; /* Removes default margin */
    padding: 10px; /* Adds some padding around the content */
    background-color: #f4f4f4; /* Sets a background color */
    background-image: url('add_food_7.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh; 
  
}

h1, f {
    text-align: center; /* Centers the text horizontally */
    width: 100%; /* Ensures the width takes up 100% of the container */
    /* margin: auto; Centers the block itself if needed */
}

a {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #007BFF; /* Bootstrap's default blue */
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #ffffff; /* White background */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

a:hover {
    text-decoration: underline;
    background-color: #f8f9fa; /* Very light gray for hover state */
}

/* Form Styling */
form {
    background-color: #fffffff1; /* White background for the form */
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 500px; /* Max width to keep form size manageable on large screens */
    margin: auto; /* Centering the form */
    margin-top:30px;
}

p {
    margin: 20px 0;
    font-size: 16px;
    color: #666; /* Medium grey for text */
}

input[type="submit"] {
    background-color:  #6c8347; /* Green background for submit button */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    display: block; /* Make the button wider */
    width: 100%;
}

input[type="submit"]:hover {
    background-color:  #b7dd79; /* Darker green on hover */
}

/* Select Box Styling */
select {
    width: 100%; /* Full width for better touch interaction */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-color: #fff;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    form {
        padding: 15px;
    }
}

/* Placeholder for Select2 plugin enhancement */
.select2-container .select2-selection--single {
    height: 38px;
    border: 1px solid #aaa; /* Darker border for select2 */
    border-radius: 4px;
}
