/* .black-rectangle-top {
  width: 100%;
  height: 20px; 
  background-color: #6c8347;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
} */
.black-rectangle-top {

  display: flex;
  justify-content: flex-end; /* Aligns children (e.g., button) to the right */
  width: 100%;
  height: 20px; 
  padding:5px;
  background-color: #6c8347;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.logout-button {
  padding: 5px 10px;
  background-color: #6c8347;
  color: white;
  border: none;
  cursor: pointer;
}

.dashboard-page {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
/* Navbar styles */
.navbar {
  /* background-color: #f0f0f0; Navbar background color */
  padding: 10px; /* Padding around navbar */
  margin-top: 10px;
  text-align: center;
  /* position: fixed; */
}

.navbar ul {
  list-style-type: none; 
  margin-top: 0;
  padding: 0;
}

.navbar ul li {
  display: inline; /* Display list items horizontally */
  margin-right: 15px; 
}

.navbar ul li a {
  color: rgb(0, 0, 0); /* Text color of navbar links */
  font-family: Lustria;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  padding:17px;
}
.navbar ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  /* background: #66655d; */
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}


.navbar ul li a:hover {
  color: white;
  /* box-shadow: 0 5px 35px 0px white; */
  text-shadow: 0 0 5px black;
}
/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 145%; /* Position the left edge of the menu at the center of the parent */
  transform: translateX(-50%); /* Center the menu horizontally */
  top: 150%; /* Position the top edge of the menu below the parent */
  background-color: #f9f9f9f5;
  min-width: 150px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e0e0e0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  background-color: #ffffff;
}

.wheat_1,
.wheat_2 {
  flex: 0 0 auto;
  width: 110px;
  height: 110px;
  background-size: cover;
  margin: 5px 3px 20px;
}

.wheat_1 {
  background-image: url("wheat_1.png");
}

.wheat_2 {
  background-image: url("wheat_2.png");
}

header {
  text-align: center; /* Center-align the header */
  /* margin-top: 10x; */
}

h1 {
  margin-bottom: -10px;
  margin-top: -73px;
  font-family: Lustria;
  font-size: 60px; /* Adjust the font size */
  font-weight: lighter; /* Make the font weight lighter */
  letter-spacing: 2px; /* Add letter spacing */
  line-height: 1.5; /* Adjust the line height */
}
t {
  color: #6c8347;
  font-family: 'Lovers Quarrel';
  font-size: 63px;
  font-weight: 10;
  font-style: italic;
  line-height: normal;

}
.bottomPanel {
  /* position: relative;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 26%;
  /* background-color: rgb(59, 21, 21); */
}
.dashboard_pic {
  width: 100%; /* Set width to 100% to fill the container */
  height: 100%; /* Set height to 100% to fill the container */
  background: rgba(255, 255, 255, 0.8) url("dashboard_pic.png") center
    center/cover no-repeat;
  background-size: cover;
}

.top-bottomPanel{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
  background-color: #ffffff;
}

h2 {
   
  margin-top:175px;
  margin-left: -300px;
  color: #000000;
  font-family: Lustria;
  font-size: 37px;
  font-weight: 50;
  font-style: normal;
  line-height: normal;

}

h3 {
  /* position: relative;  */
  margin-left: 58px;
  margin-top: -79px; /* Adjust percentage value as needed */
  color: #6c8347;
  font-family: 'Lovers Quarrel';
  font-size: 140px;
  font-weight: 10;
  font-style: italic;
  line-height: normal;
}

/* Search bar styles */

.inputField {
  width: 100%;
  height: 10%;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin-right: 65px;
  margin-bottom: 50px;
  background-color: #ffffff;
}

.SearchTextBox {
  background-image: url('search_icon.png');
  background-size: 16px; /* Adjust the size of the icon */
  background-repeat: no-repeat;
  background-position: 30px center; /* Adjust the position of the icon */
  padding-left: 55px;
  width: 800px;
  height: 45px;
  background-color: #d9d9d9;
  border-radius: 20px;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  text-indent: 50px; /* Adjust to move the placeholder text to the right */
  margin-left: -10px;
}



.recipeContainer {
  position: relative;

  max-width: 100%; /* Adjust to desired maximum width */
  max-height: 300%;
  flex-wrap: nowrap;
  background-color:#ffffff;
}
.recipeContainer::after {
  /* content: ""; */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px; /* Adjust the height of scrollbar */
  background: linear-gradient(to right, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 1) 50%, rgba(240, 240, 240, 1) 100%);
}

/* .recipeContainer h4{
  color:rgb(80, 80, 80);
  margin-top:-2%;
  font-family: Lustria;
} */

.carousel-title {
  position: absolute;
  top: -30px; /* Adjust this value as needed */
  left: 20px;
  color: #474747; /* Example text color */
  padding: 5px 10px; /* Example padding */
  border-radius: 0 0 0 5px; /* Rounded bottom-left corner */
  font-size: 16px; /* Example font size */
  z-index: 2; /* Ensure it's above other content */
 
}
.breakfastCarousel,
.lunchCarousel,
.dinnerCarousel,
.bookmarkCarousel,
.snacksCarousel {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This remains as is to spread children */
  position: relative;
  max-width: 860px; /* Adjust this value based on your layout's needs */
  margin: auto;
  /* margin-top: 60px; */
  position: relative;
 
}

.breakfastContainer,
.lunchContainer,
.dinnerContainer,
.bookmarkContainer,
.snacksContainer {
  display: flex;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: auto;
  max-width: calc(230px * 3 + 30px * 3);
  margin: 0 10px 0 10px; /* Adjusts horizontal margins; retains your current setting */
  margin-bottom: 80px; 
  flex-shrink: 0; 
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  /* background-color: #cc8585; */
  /* padding-bottom: 45px;  */
}

.scroll-button {
  cursor: pointer;
  z-index: 2; /* Keep if needed for layering, but might not be necessary with flex */
  width: 40px; /* Adjust as needed */
  height: 40px;
  margin-bottom:13%;
  border: none;
}
.scroll-button:hover {
  transform: scale(1.7); 

}

.breakfastContainer .left-scroll,
.lunchContainer .left-scroll {
  left: 0; 
}

.breakfastContainer .right-scroll,
.lunchContainer .right-scroll {
  right: 0; 
}

.recipeWrapper {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 50px -10px; 
}


.recipeBreakfast,
.recipeLunch,
.recipeDinner,
.recipeBookmark,
.recipeSnacks {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(35% - 25px); /* Adjust width for 3 recipes */
  margin-right: 25px; 
  margin-left: 25px;
  flex: 0 0 calc(25% - 20px);
  background-color: #d9d9d9;
  border-radius: 5px;
  padding: 10px;
  width: 180px; /* Set a fixed width for all recipe containers */
  height: 190px; /* Set a fixed height for all recipe containers */
  /* position: relative;  */
}
.recipeBreakfast:hover,
.recipeLunch:hover,
.recipeDinner:hover,
.recipeBookmark:hover,
.recipeSnacks:hover{
  transform: scale(1.1); 
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.lunchContainer::-webkit-scrollbar ,
.dinnerContainer::-webkit-scrollbar ,
.snacksContainer::-webkit-scrollbar ,
.bookmarkContainer::-webkit-scrollbar,
.breakfastContainer::-webkit-scrollbar {
  display: none;
}

.recipeBreakfastPic,
.recipeLunchPic,
.recipeDinnerPic,
.recipeBookmarkPic,
.recipeSnacksPic
{
  
background-color:white;
margin-top:-30px;
width:100%;
height:70%;
box-shadow: 0 4px 6px rgba(0.2, 0.2, 0.2, 0.4);

}

/* recipe name */
.breakfast-recipe-name,
.lunch-recipe-name,
.dinner-recipe-name,
.bookmark-recipe-name,
.snack-recipe-name {
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-family: Lustria;
  background-color: #d9d9d9;
  text-align: left; /* Align text to the left */
  display: flex; /* Use flexbox */
  /* justify-content: center;  */
  align-items: center;
  flex: 1; /* Allow the name to take up remaining space */
}


.creator-info {
  display: flex;
  /* justify-content: space-between; Align items at the ends of the container */
  align-items: flex-end; /* Align items to the bottom of the container */
  /* position: absolute; 
  bottom: 10px;  */
  width: 100%; /* Ensure it spans the entire width */
}
.creator-info p{
  margin-right:10%;
  margin-bottom:5%;
  /* background-color: pink; */
  font-size:13px;
}

.creator-info img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-right: 10px; /* adjust as needed to create space between image and text */
}

