.black-rectangle-top {
  width: 100%;
  height: 30px; /* Adjust height as needed */
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* Ensure it appears above other content */
}
.dashboard-page {
  background-color: #d9d9d9;
  width: 100%;
  height: 100%;
  /* font-family: Lustria; */
}
/* dashboard.css */

/* Navbar styles */
.navbar {
  background-color: #d9d9d9; /* Navbar background color */
  padding: 10px; /* Padding around navbar */
  margin-top: 30px;
  text-align: center;
  /* position: fixed; */
}

.navbar ul {
  list-style-type: none; /* Remove default bullet points */
  margin-top: 0;
  padding: 0;
}

.navbar ul li {
  display: inline; /* Display list items horizontally */
  margin-right: 15px; 
}

.navbar ul li a {
  color: rgb(0, 0, 0); /* Text color of navbar links */
  font-family: Lustria;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding:19px;
}
.navbar ul li a:hover {
  background-color: #94a874af;
  border-radius: 10px;

}
/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
  /* background-color:pink; */
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 145%; /* Position the left edge of the menu at the center of the parent */
  transform: translateX(-50%); /* Center the menu horizontally */
  top: 150%; /* Position the top edge of the menu below the parent */
  background-color: #f9f9f9f5;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e0e0e0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  background-color: #d9d9d9;
}

.wheat_1,
.wheat_2 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 0 10px; 
}

.wheat_1 {
  background-image: url("wheat_1.png");
}

.wheat_2 {
  background-image: url("wheat_2.png");
}

header {
  text-align: center; /* Center-align the header */
  /* margin-top: 10x; */
}

h1 {
  margin-bottom: -20px;
  margin-top: -45px;
  font-family: Lustria;
  font-size: 76px; /* Adjust the font size */
  font-weight: lighter; /* Make the font weight lighter */
  letter-spacing: 2px; /* Add letter spacing */
  line-height: 1.5; /* Adjust the line height */
}
t {
  color: #6c8347;
  font-family: Brush Script MT;
  /* font-family: "Lucida Handwriting"; */
  font-size: 65px;
  font-weight: 10;
  font-style: italic;
  line-height: normal;
}
.bottomPanel {
  /* position: relative;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28%;
  /* background-color: rgb(59, 21, 21); */
}
.dashboard_pic {
  width: 100%; /* Set width to 100% to fill the container */
  height: 100%; /* Set height to 100% to fill the container */
  background: rgba(255, 255, 255, 0.8) url("dashboard_pic.png") center
    center/cover no-repeat;
  background-size: cover;
}

.top-bottomPanel{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
  background-color: #d9d9d9;
}

h2 {
   
  margin-top:175px;
  margin-left: -400px;
  color: #000000;
  font-family: Lustria;
  font-size: 42px;
  font-weight: 50;
  font-style: normal;
  line-height: normal;

}

h3 {
  /* position: relative;  */
  margin-left: 100px;
  margin-top: -69px; /* Adjust percentage value as needed */
  color: #6c8347;
  font-family: Brush Script MT;
  font-size: 160px;
  font-style: normal;
  line-height: normal;
}

/* Search bar styles */
/* .inputContainer {
  display: flex;
  margin-bottom: 25px;
  width: 100%;
  height: 30%;
  background-color: rgb(35, 110, 209);
} */
.inputField {
  width: 100%;
  height: 10%;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin-right: 65px;
  background-color: #d9d9d9;
}

.SearchTextBox {
  background-image: url('search_icon.png');
  background-size: 16px; /* Adjust the size of the icon */
  background-repeat: no-repeat;
  background-position: 30px center; /* Adjust the position of the icon */
  padding-left: 55px;
  width: 800px;
  height: 45px;
  background-color: #b4b4b4;
  border-radius: 20px;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  text-indent: 50px; /* Adjust to move the placeholder text to the right */
  margin-left: -10px;
}



.recipeContainer {
  max-width: 100%; /* Adjust to desired maximum width */
  max-height: 300%;
  /* overflow-x: auto; */
  /* display: flex; */
  /* margin-top:7%; */
  flex-wrap: nowrap;
  background-color: #d9d9d9;
}


.breakfastContainer {
  height: 380px;
  background-color: #d9d9d9; 
}


.recipeBreakfastPic {
  width: 160px;
  height: 150px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #aca033;
  margin-left: 19px;
  margin-top: -100px;
  object-fit: cover;
}
.recipeWrapper {
  display: flex;
  flex-wrap: wrap;
}

.recipeBreakfast {
  width: 190px;
  height: 200px;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  background-color: #b4b4b4;
  margin-left: 100px;
  margin-top: 90px;
  padding:2px;
}
.snack-recipe-name,
.dinner-recipe-name,
.lunch-recipe-name,
.breakfast-recipe-name {
  /* Your styles here */
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-family: Lustria;
  position: relative;
  top: 90px;
 
}
.lunchContainer {
  /* width: 200px; */
  height: 380px;
  background-color: #d9d9d9;
  margin: 0 auto; /* Center the container horizontally */
  /* margin-top: 20px; Add space between breakfast and lunch */
  /* margin-bottom: 50px; Add space between lunch and dinner */
}
.recipeLunchPic {
  width: 160px;
  height: 150px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #6c8347;
  margin-left: -173px;
  margin-top: 10px;
  object-fit: cover;
}
.recipeLunch {
  width: 190px;
  height: 200px;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  background-color: #b4b4b4;
  margin-left: 100px;
  margin-top: 90px;
}

.dinnerContainer {
  /* width: 1300px; */
  height: 380px;
  background-color: #d9d9d9;
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 50px; /* Add space between lunch and dinner */
}
.recipeDinnerPic {
  width: 160px;
  height: 150px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #6c8347;
  margin-left: -173px;
  margin-top: 10px;
  object-fit: cover;
}
.recipeDinner {
  width: 190px;
  height: 200px;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  background-color: #b4b4b4;
  margin-left: 100px;
  margin-top: 90px;
}

.snacksContainer {
  height: 380px;
  /* width:300px; */
  background-color: #d9d9d9;
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 50px; /* Add space between lunch and dinner */
}

.recipeSnacksPic {
  width: 160px;
  height: 150px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #4764bc;
  margin-left: -173px;
  margin-top: 10px;
  object-fit: cover;
}
.recipeSnacks {
  width: 190px;
  height: 200px;
  background-color: #8236b4;
  margin-left: 100px;
  margin-top: 90px;
}
