.googleButton {
  display: inline-block;
  background-color: #4285f4;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.googleButton:hover {
  background-color: #357ae8;
}
.googleButton img {
  vertical-align: middle;
  margin-right: 10px;
}
.registerButton {
  display: inline-block;
  background-color: #4285f4;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.registerButton:hover {
  background-color: #357ae8;
}
.registerButton img {
  vertical-align: middle;
  margin-right: 10px;
}
