.outer-container {
    position: relative;
    margin: 0 0;
    max-width: fit-content;
    display: flex;
  }
.left-container {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    
  }
.right-container{
    flex: 1;
    flex-direction: column;
    position: relative;
    align-items: center;
    display: flex;
  }