h1{
  font-family: Lustria;
  text-align: center;
  margin-top: 6%;
}
p{
  margin-bottom: 0;
}
.title{
  margin-bottom: 4%;
}
.outer-container {
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    font-size: 20px;
  }
.left-container {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: left; /* Center items horizontally */
  }
.right-container{
    flex: 1;
    flex-direction: column;
    position: relative;
    align-items: left;
    display: flex;
    margin-bottom: 2%;
  }
  .editButton{
    height:35px;
    max-width: 100px;
    font-family: Lustria;
    border:none;
    border-radius: 5px;
    font-size: 16px;
  }
  .editButton:hover{
   background-color: #D2D2D2;
  }
  .recipe-container{
    position: relative;
    display: flex;
    max-width: 57%; /* Adjust to desired maximum width */
    max-height: 100%;
    justify-content: space-between; /* Ensure equal spacing between items */
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    margin: 0 auto; /* Center the container horizontally */
  }
  .left-recipe,.right-recipe,.middle-recipe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .left-box,.right-box,.middle-box {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(33.33% - 20px); /* Set flex basis to evenly distribute items */
    margin-bottom: 20px; /* Add spacing between rows */
    border-radius: 5px;
    padding: 10px;
    width: 180px; /* Set a fixed width for all recipe containers */
    height: 190px; /* Set a fixed height for all recipe containers */
    background: #D9D9D9;
    }

.left-image,.right-image,.middle-image {
  background-color:white;
  margin-top:-210px;
  width:100%;
  height:70%;
  box-shadow: 0 4px 6px rgba(0.2, 0.2, 0.2, 0.4);
}
.name{
  margin-top: 170px;
  margin-left: 5%;
}
.about{
  line-height: 1.25;
}
.left-box:hover,
.middle-box:hover,
.right-box:hover{
  transform: scale(1.1); 
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}